# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

# firebase admin config credentials, also, should NEVER be published
configs/fbServiceAccountKey.json
